<!DOCTYPE html>
<html>
  <head>
      <title>Basic Web Server</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <script src="js/jquery-1.8.3.min.js"></script>

  <script>
  </script>
        
  <body>
      <div id="container">
          <div class="title">
              <h1>Upload image file</h1>
          </div>
          <div id="content">
              <form action="{{ url_for('upload_file') }}" enctype="multipart/form-data" method="post">
                  <p>
                      <label for="filename">
                          File Name:
                          <input type="text" name="filename" size="30"/>
                      </label>
                  </p>
                  <p>
                      <label for="img_file">
                          File:
                          <input type="file" name="img_file" size="40">
                      </label>
                  </p>
                  <div>
                      <input type="submit" value="Upload">
                  </div>
              </form>
          </div>
      </div>
  </body>
</html>

